---
tg_token: "<your token from bot father here>"
logging:
  version: 1
  formatters:
    simple:
      format: "%(message)s"
    default:
      format: "%(asctime)s %(levelname)-3s %(name)-5s %(message)s"
  handlers:
    console:
      class: "logging.StreamHandler"
      formatter: "default"
      level: "INFO"
      stream: "ext://sys.stdout"
  loggers:
    "__main__":
      handlers: ["console"]
      level: "INFO"
      propagate: false
